.cover_nosotros{
    background-image: url("../imagenes/fondo-nosotros.png");
    width: 100%;
    background-size: cover;
}

.nosotros{
    display: flex;
    flex-direction: column;
    height: 100%;
    .tarjeta-nosotros{
        height: 400px;
        width: 800px;
        background-color: #726caf;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
}
.imagen-sobre{
    width: 200px;
    margin: 15px;
}
.nosotros-titulo{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}
.sobre-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contenedor-recom{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logos-recom{
    width: 300px;
    height: 300px;
    margin: 5px;
}
.contenedor-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.punto{
    width: 20px;
}

@media (max-width: 768px){ 
    .nosotros{
        .tarjeta-nosotros {
            height: 600px;
            width: 90vw;
        }
    }
    .cover_nosotros{
        background-image: url("../imagenes/nosotros-movil.png");
    }
    
}